# ignoring files that are made when compiling kernel module
*.o
*.o.d
*.ko
*.mod
*.mod.c
*.cmd
*.order
*.symvers


# ignoring test folder, which I use for experimenting
# and vscode folder
_testFolder/
kernelModule/.vscode

# ignoring executable files 
# (there probably is a better way, but this is the only way I know for now)
kernelModule/user
kernelModule/proces
