# ignoring files that are made when compiling kernel module
*.o
*.o.d
*.ko
*.mod
*.mod.c
*.cmd
*.order
*.symvers


# ignorig folders
# testFolder - used for testing stuff
# vscode folder
# Shared - folder used for sharing files with qemu
_testFolder/
kernelModule/.vscode
Shared/

# ignoring executable files 
# (there probably is a better way, but this is the only way I know for now)
kernelModule/user
kernelModule/proces
